.container-detail {
  width: 100%;
  height: 100vh;
  background: url("../../assets/intro1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-detail {
  width: 80%;
  display: flex;
  position: relative;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
}

.img-detail img {
  width: 320px;
  height: 440px;
}

.info-detail {
  width: 70%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.description-detail-light {
  height: 440px;
  background-color: rgba(252, 248, 248, 0.87);
  color: rgb(29, 28, 28);
  padding: 15px;
  overflow-x: hidden;
}

.description-detail-dark {
  height: 440px;
  background-color: rgba(80, 79, 79, 0.87);
  color: rgb(199, 192, 192);
  padding: 15px;
  overflow-x: hidden;
}

.description-title {
  text-align: center;
  font-size: 24px;
}

.description-subtitle {
  text-align: start;
  font-size: 14px;
  font-style: italic;
}

#desc a[disabled="disabled"] {
  pointer-events: none;
  cursor: pointer;
}

.info-issues {
  width: 70%;
  height: 100vh;
  position: relative;
  top: 160px;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: rgba(214, 215, 218, 0.329);
  overflow-x: hidden;
  overflow-y: auto;
}


@media (max-width: 768px) {
  .card-detail {
    flex-direction: column;
    margin-bottom: 100px;
    background-color: rgb(122, 133, 129);
  }
}