.modal-issue-light {
  background-color: whitesmoke;
  color: rgb(31, 31, 31);
}

.modal-issue-dark {
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

.name-issue {
  width: 350px;
  height: auto;
  word-break: break-all;
}