.modal-light {
  background-color: rgba(252, 248, 248, 0.87);
  color: rgb(29, 28, 28);
}

.modal-dark {
  background-color: rgba(80, 79, 79, 0.87);
  color: rgb(199, 192, 192);
}

.name-issue {
  width: 350px;
  height: auto;
  word-break: break-all;
}