.modalDark .modal-content {
  background-color: rgb(48, 46, 46);
  color: rgb(199, 192, 192);

}

.modalLight .modal-content {
  background-color: #F8F9FA;
  color: rgb(48, 46, 46);
}

.name-issue {
  width: 350px;
  height: auto;
  word-break: break-all;
}