.wrapper {
    width: 100%;
<<<<<<< HEAD
    /* background-color: antiquewhite; */
=======
    height: 100vh;
>>>>>>> 9a35f36d04037c429501bbcf0cd7754eeb5dd36c
    overflow: hidden;
    text-align: center;
    background: url("../assets/5108356.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    width: 100%;
    color: white;
    background-color: rgb(20, 20, 20);
}