.pagination {
  display: flex;
  justify-content: center;
  gap: .7rem;
}

.pagination button {
  padding: 7px 15px;
  background: #d01e00;
  color: #ffffff;
  border-radius: 5px 25px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .1);
  transition: .2s ease-in;
}

.pagination button.selected,
.pagination button:hover,
.pagination button:active,
.pagination button:focus {
  transform: scale(1.2);
  background: rgb(2, 248, 133);
}

@media(max-width:500px) {
  .pagination {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 1rem
  }
}