.pagination {
  display: flex;
  justify-content: center;
  gap: .7rem;
}

.pagination button {
  padding: 7px 15px;
  background: #d01e00;
  color: #0a1c20;
  border-radius: 5px 25px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .1);
  transition: .2s ease-in;
}

.pagination button.selected,
.pagination button:hover,
.pagination button:active,
.pagination button:focus {
  transform: scale(1.2);
}