.pagination {
  display: flex;
  justify-content: center;
  gap: .7rem;
}

.btn-pagination {
  width: 40px;
  height: 40px;
  /* padding: 8px 16px; */
  background: #eeeeeec0;
  color: #252525;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .1);
  user-select: none;
  transition: all 400ms ease-in;
}

.btn-pagination:hover {
  background: #ffffff;
  color: #252525;
  border-radius: 0;
  transition: all 400ms ease-out;
}

.focus-pagination {
  width: 40px;
  height: 40px;
  background: rgb(231, 39, 39);
  border-radius: 50%;
  color: #ffffff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .1);
  transition: .2s ease-in;
}

.prev:active,
.next:active {
  background: rgb(231, 39, 39);
}

@media(max-width:500px) {
  .pagination {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 1rem
  }
}