.container-carrousel {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel-indicators {
    width: 850px;
    /* background-color: rgba(92, 89, 89, 0.603); */
}

.carousel {
    width: 100%;
}

.d-block {
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: black;
    width: 30px;
    height: 60px;
    margin: 10px;
    position: absolute;
    left: 0;
    top: 50%;
}

.carousel-control-next {
    left: auto;
    right: 0;
}