.container-carrousel {
    opacity: .85;
    padding: 20px;

}

.carousel-indicators [data-bs-target] {
    position: relative;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin: 0px 6px;
    border: solid 2px black;
    opacity: 1;
    z-index: 1;
}

.carousel-indicators .active {
    opacity: 1;
    transform: scale(1.6) translateY(-4px);
    transition: all 500ms;
    /* background-color: #d01e00; */
}

.images-box {
    display: flex;
    justify-content: center;
    opacity: 1;
}

.images-box img {
    width: 270px;
    height: 170px;
    object-fit: cover;
    opacity: 1 !important;
}


.carousel-control-prev,
.carousel-control-next {
    background-color: rgb(255, 1, 1);
    width: 40px;
    height: 40px;
    margin: 10px 15px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 30%;
}

.carousel-control-next {
    left: auto;
    right: 0;
}