/* SearchBar */
.search {
    position: relative;
    display: flex;
    align-items: center;
}

#inputSearch {
    border: none;
    border-radius: 8px;
    font-weight: 300;
    padding: 9px;
    padding-left: 40px;
    padding-right: 40px;
    transition: ease-out 500ms;
    box-shadow: 2px 2px 10px 2px #a8a6a6af;
    outline: none;
}

/* #inputSearch:focus {
    outline: none;
} */

.boxIcon {
    width: 40px;
    height: 44px;
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: center;
    padding: 9px;
    border-radius: 8px;
    /* background-color: #dad6d6; */
}

.icon-search {
    cursor: pointer;
    color: #a8a6a6af;
    padding-top: 2px;
    user-select: none;
}

.icon-close {
    position: relative;
    right: 30px;
    color: #a8a6a6af;
    cursor: pointer;
    user-select: none;
}

.icon-close:hover {
    color: #d43f3a;
}