.logo {
    position: relative;
    top: 14px;
}

.logo-box {
    height: 45px;
}

/* .links {
    background-color: brown;
} */

@media (max-width: 768px) {
    .logo {
        top: 0px;
        left: 0px;
    }

    .logo-box {
        height: 75px;
    }

}