.shopping-container {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.shopping-price {
  position: absolute;
  right: 55px;
  bottom: 65px;
  font-size: 26px;
  font-weight: 500;
  user-select: none;
}

.shopping-icon,
.fav-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 25px;
  bottom: 15px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 2px rgba(204, 200, 200, 0.527);
  background: white;
}

.shopping-icon {
  left: 80px;
}

.shopping-icon,
.fav-icon span {
  padding-top: 7px;
}

.shopping-icon:active,
.fav-icon:active {
  border-radius: 50%;
  box-shadow: 0px 0px 18px 2px rgba(145, 141, 141, 0.527);
}