.containerDevs {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.containerDev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.github {
  color: white;
  animation: 2s ease-in
}

.github:hover {
  color: wheat;
}

.imgRedonda {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 150px;
  border: 2px solid #ffffff;
}

h5 {
  border-bottom: 2px solid red;
}

h6 {
  border: none
}

@media(max-width:1200px) {
  .imgDev {
    width: 20px;
    height: 20px;
  }
}