.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}
.texterror {
  position: absolute;
  color: red;
  margin-top: 65px;
}
.textgoogle{
 text-align: center;
}
.tohome{
  display: flex;
  justify-content: center;
}